<h1>Controls</h1>

<ul>
    <li><a href="Controls/TextBox">TextBox</a></li>
    <li><a href="Controls/Textarea">TextArea</a></li>
    <li><a href="Controls/CheckBox">CheckBox</a></li>
    <li><a href="Controls/Radio">Radio</a></li>
    <li><a href="Controls/DropDownList">DropDownList</a></li>
    <li><a href="Controls/Listbox">ListBox</a></li>
</ul>