<h2>Lab 2</h2>
<ul>
    <li><a href="Form/ModelBindingPar">Model Binding (parameters)</a></li>
    <li><a href="Form/ModelBindingSep">Model Binding (separate model)</a></li>
    <li><a href="Form/ManualParsingSingle">Manual parsing in single action</a></li>
    <li><a href="Form/ManualParsingSep">Manual parsing in separate actions</a></li>
</ul>