<h2>Lab 1</h2>
<ul>
    <li><a href="Calculator/Model">Pass Using Model</a></li>
    <li><a href="Calculator/UsingViewBag">Pass Using ViewBag</a></li>
    <li><a href="Calculator/UsingViewData">Pass Using ViewData</a></li>
    <li><a href="Calculator/Directly">Directly</a></li>
</ul>