<h1>Manual Parcing Single Action</h1>
<form method="post">
    <div>
        <div><field name="first" /></div>
        <div><selector name="operation"></selector></div>
        <div><field name="second" /></div>
    </div>
    <input type="submit" value="Calculate" />
</form>