<h2>@Model.First  @Model.Operation @Model.Second = </h2>
@ViewBag.Result
<form method="post">
    <input name="InputAnswer" type="text">
    <br>
    <input type="submit" value="next" name="action">
    <input style="bacjground: blue"type="submit" value="finish" name="action">
</form>