@model WLab1.ViewModels.EmailInput
<h1>Reset Pass</h1>
<form method="post" action="ResetPassword">
    <input type="text" asp-for="@Model.Email"><br>
        <button type="submit" name="submit" value="have">I have a code</button>
        <button type="submit" name="submit" value="input">Send Code</button>
</form>